.navigationBar {
  padding: 10px 0;
  background-color: crimson;
  color: white;
}

.navigationBar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigationBar ul li {
  padding: 0 20px;
}

.navigationBar ul li a {
  color: white;
  text-decoration: none;
}

.navigationBar ul li a:hover {
  border-bottom: 1px solid white;
  color: rgb(224, 224, 23);
}